@()

@main("Play with Scala.js") {
    <h2>Json Hybrid Editor</h2>

    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div id="editor">{"foo": {"bar": true,"fizz": "abc","hoge": {"uni": true,"ikura": false}},"kani": "def","sakana": "gef"}
                </div>
            </div>
            <div class="col-md-6">
                <div id="canvas"></div>
            </div>
        </div>
    </div>

    <input id="node_id" class="form-control" placeholder="ID" readonly="readonly">
    <input id="node_value" class="form-control" placeholder="Value">
    <input id="node_kind" class="form-control" placeholder="Kind" readonly="readonly">
}
