@(title: String)(content: Html)

<!DOCTYPE html>

<html>
    <head>
        <title>@title</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <script type="text/javascript" src="//code.jquery.com/jquery-2.1.4.min.js"></script>

            <!-- Twitter Bootstrap -->
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"/>
        <script type="text/javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

            <!-- D3.js -->
        <script type="text/javascript" charset="utf-8" src="//d3js.org/d3.v3.min.js"></script>

            <!-- Ace editor -->
        <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/ace/1.2.2/ace.js"></script>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/editor.css")">

    </head>
    <body>
        @content
        @playscalajs.html.scripts("client")
    </body>
</html>
